Recordings.zip
Recordings
Cleaned_Transcripts
All_Recordings
dummy_recording_delete
feature_extraction/features_speech_emobase/
feature_extraction/features_text_sbert/
feature_extraction/company_topics/
feature_extraction/plot_company_topics/
feature_extraction/plots_speech_features/
glove
COPIES
scripts
model/emo_classifier_result/
model/emo_label/
model/merge_topic_emo/
model/normalized_and_fused/
model/topic_emo_label/
results/topic_emo_dist/
results/emo_dist/
results/global_topic_emo/